.login-bar {
  margin-top: 80px;
  text-align: center;
}
.left-bar {
  vertical-align: top;
  padding: 60px 90px 60px 0;
  border-right: 1px solid #999999;
  width: 390px;
}
.left-bar p {
  color: #666666;
  text-align: left;
  text-indent: 2em;
}
.left-bar .strong {
  color: #7ed321;
  font-size: 20px;
}
.right-bar {
  vertical-align: top;
  padding: 100px 0 60px 90px;
  width: 390px;
  text-align: left;
}
.right-bar .nav {
  margin-right: 60px;
  font-size: 18px;
}
.right-bar .nav:hover {
  color: #7ed321;
}
.right-bar .active {
  color: #7ed321;
}
.nav-bar {
  margin-bottom: 36px;
}
.row {
  margin-top: 16px;
}
.row label {
  line-height: 32px;
  color: #666666;
  display: inline-block;
  width: 90px;
}
.margin {
  margin: 5px 0 20px 0;
  text-align: right;
  width: 340px;
}
.forget {
  color: #999999;
}
.input-text {
  width: 240px;
  height: 30px;
  border: 2px solid #cbcbcb;
}
.img {
  width: 330px;
  height: 280px;
}
.btn {
  padding: 0 26px;
  line-height: 36px;
  background-color: #fff;
  cursor: pointer;
}
.login-btn {
  border: 1px solid #7ed321;
  color: #7ed321;
}
